@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: cursive;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

::selection{
    background: #737d7f58;
}

::-webkit-scrollbar {
    width: 1px;
    height: 7px;
  }
  

::-webkit-scrollbar-thumb {
    background: #e1dddd;
}
  
body{
    background: #f6f6f6;
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #ff0101; */
    grid-column-start: 5;
}

.background_secondary{
    background: url(../../public/image/grid.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gradient{
    background: linear-gradient(180deg, rgba(246, 246, 246, 0) 0%, 
                                        rgba(246, 246, 246, 0.01) 6.67%, 
                                        rgba(246, 246, 246, 0.04) 13.33%, 
                                        rgba(246, 246, 246, 0.08) 20%, 
                                        rgba(246, 246, 246, 0.15) 26.67%, 
                                        rgba(246, 246, 246, 0.23) 33.33%, 
                                        rgba(246, 246, 246, 0.33) 40%, 
                                        rgba(246, 246, 246, 0.44) 46.67%, 
                                        rgba(246, 246, 246, 0.56) 53.33%, 
                                        rgba(246, 246, 246, 0.67) 60%, 
                                        rgba(246, 246, 246, 0.77) 66.67%, 
                                        rgba(246, 246, 246, 0.85) 73.33%, 
                                        rgba(246, 246, 246, 0.92) 80%, 
                                        rgba(246, 246, 246, 0.96) 89.67%, 
                                        rgb(246, 246, 246) 93.33%, 
                                        #f6f6f6 100%)
}
  
.hover__animation:hover .hover__container img{
    transform: translateY(-5px);
}
.hover__animation:hover .hover__container img:last-child{
    opacity: 1;
}
.hover__animation:hover .hover__container img:first-child{
    opacity: 0;
}

@media screen and (max-width: 1024px){
    section{
        height: auto;
    }
}
@media screen and (max-width: 1024px){
    body{
        padding: 4rem 0;
    }
}
@media screen and (max-width: 768px){
    .background_secondary{
        background: url(../../public/image/grid.webp);
        background-position: right top;
        background-repeat: no-repeat;
        background-size: cover 50vh;
    }
    
}
@media screen and (min-height: 1486px){
    section{
        height: auto;
        padding: 15rem 5rem;
    }
}

