@tailwind base;
@tailwind components;
@tailwind utilities;

::selection{
    background: #737d7f58;
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #ff0101; */
    grid-column-start: 5;
}

.background_principal{
    background: url(../../public/image/punto2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background_secondary{
    background: url(../../public/image/punto.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.lopes{
    padding: 3rem 2rem;
    background: radial-gradient(circle, #5f60642b 10%, #83829735 10%, #667a7b00 60%, #7385850b 100%);
}

@media screen and (max-width: 1024px){
    section{
        height: auto;
    }
}