@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

::selection{
    background: #737d7f58;
}

::-webkit-scrollbar {
    width: 0px;
    height: 7px;
  }
  

::-webkit-scrollbar-thumb {
    background: #e1dddd;
}
  
body{
    background: #f6f6f6;
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 5;
}


.grid__home{
    background: url(../../public/image/grid.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gradient{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0) 0%, 
                                        rgba(246, 246, 246, 0.01) 6.67%, 
                                        rgba(246, 246, 246, 0.04) 13.33%, 
                                        rgba(246, 246, 246, 0.08) 20%, 
                                        rgba(246, 246, 246, 0.15) 26.67%, 
                                        rgba(246, 246, 246, 0.23) 33.33%, 
                                        rgba(246, 246, 246, 0.33) 40%, 
                                        rgba(246, 246, 246, 0.44) 46.67%, 
                                        rgba(246, 246, 246, 0.56) 53.33%,    
                                        rgba(246, 246, 246, 0.67) 60%, 
                                        rgba(246, 246, 246, 0.77) 66.67%, 
                                        rgba(246, 246, 246, 0.85) 73.33%, 
                                        rgba(246, 246, 246, 0.92) 80%, 
                                        rgba(246, 246, 246, 0.96) 89.67%, 
                                        rgb(246, 246, 246) 93.33%, 
                                        #f6f6f6 100%)
}
 .gradient_inset{
    box-shadow: inset 0 0 19px #00000018, 
                inset 0 0 14px #00000013, 
                inset 0 0 18px #00000009;
 } 
 .gradient__inset__second{
    box-shadow: inset 0 0 10px #da07ff10, 
                inset 0 0 20px #da07ff09, 
                inset 0 0 30px #da07ff08;
 } 
 .gradient__inset__third{
    box-shadow: inset 0 0 10px #38393910, 
                inset 0 0 20px #38393909, 
                inset 0 0 30px #38393908;
 } 
.hover__animation:hover .hover__container img{
    transform: translateY(-5px);
}

.hover__animation:hover .hover__container img:last-child{
    opacity: 1;
}

.hover__animation:hover .hover__container img:first-child{
    opacity: 0;
}

.combobox:hover .arrow{
    transform: rotate(-90deg);
}

.hover__arrow::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;
    background: #349aaaae;
}

.container__arrow__hover:hover .hover__arrow::after{
    width: 100%;
}

.hover__arrow:hover img{
    transform: translateY(0.2rem) rotate(90deg);
}

.gridLayouTop::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    background: #c5c4c4c5;
    left: -25%;
    bottom: -15%;
}
.gridLayoutBottom::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 0%;
    background: #c5c4c4c5;
    right: -15%;
    bottom: -15%;
}

.gridUpdateAf::after{
    height: 170%;
    transition: 800ms all;
    transition-delay: .5s;
}
.gridUpdateBe::before{
    width: 170%;
    transition: 800ms all;
    transition-delay: .5s;
}

.animateEnter{
    display: block;
}
.animateLeave{
    display: none;
}

/* responsive designe */
@media screen and (max-width: 344px){
    .sf-text{
        font-size: 2.25rem !important;
    }
}
@media screen and (max-width: 412px){
    .space{
        margin: 1vh 0 !important;
        padding: 2rem 2rem !important;
    }
}
@media screen and (max-width: 568px){
    .gridUpdateAf::after{
        height: 0%;
    }
    
}

@media screen and (max-width: 768px){
    .background_secondary{
        background: url(../../public/image/grid.webp);
        background-position: right top;
        background-repeat: no-repeat;
        background-size: cover 50vh;
    }
}


@media screen and (max-width: 1024px){
    .origin__order{
        order: initial !important;
    }
    .size{
        width: 100% !important;
    }
    
}

@media screen and (min-height: 1024px){
    .background_secondary{
        background: url(../../public/image/grid.webp);
        background-position: left top;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* extra media queries*/
@media screen and (max-width: 600px) and (max-height: 1024px){
    section{
        padding: 3rem 3rem;
    }
}
@media screen and (min-width: 853px) and (min-height: 1280px){
    .card__home div:first-child a img{
        display: none;
    }
}

@media screen and (max-width: 1024px) and (max-height: 1366px){
    section{
        padding: 2rem 4rem;
        margin: 6rem 0rem;
    }
    .card__home div:first-child a img{
        display: none;
    }
    .space{
        margin: 2vh 0;
        padding: 5rem 4rem;
    }

}

@media screen and (max-width: 1280px) and (max-height: 800px){
    section{
        height: auto;
        padding: 3rem 3rem;
    }
}